@font-face {
  font-family: "Bowlby One";
  src: url("/fonts/BowlbyOne-400.ttf") format("ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-600.woff") format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-700.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-800.woff") format("woff");
  font-weight: 800;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

ul,
ol,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat, sans-serif;
  letter-spacing: 0.03em;
  color: #1c1d1e;
  background-color: #ffffff;
}

body.modal-open {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 15px 40px;
}

.header {
  padding: 15px 153px 15px 191px;
  border-bottom: 1px solid #000;
}

.nav-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  font-size: 34px;
  line-height: 0.75;
  cursor: pointer;
}

.logo__accent {
  color: #69cb2d;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 146px;
}

.nav__item:not(:last-child) {
  margin-right: 40px;
}

.nav__link {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 0.96;
  color: #1c1d1e;
  cursor: pointer;
}

.nav__link:hover {
  color: #69cb2d;
}

.help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-left: 107px;
}

.help__btn:hover {
  color: #69cb2d;
}

.help__icon {
  stroke: #69cb2d;
  fill: transparent;
  margin-right: 14px;
}

.help__btn {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 0.96;
  color: #1c1d1e;
}

.user {
  margin-left: 83px;
}

.user__img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 6px solid transparent;
}

.user__img:hover {
  border-color: #69cb2d;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 81px;
}

.sidebar {
  background: #69cb2d;
  width: 376px;
  padding: 109px 0px 36px;
  height: 652px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.sidebar__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 376px;
  height: 78px;
  padding-left: 28px;
  cursor: pointer;
}

.sidebar__link {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 0.1 0.25;
  color: #ffffff;
}

.sidebar__icon {
  fill: #ffffff;
  stroke: #ffffff;
  background-color: #69cb2d;
  margin-right: 18px;
}

.sidebar__item:hover,
.sidebar__item:focus,
.sidebar__item:hover .sidebar__link,
.sidebar__item:focus .sidebar__link,
.sidebar__item:hover .sidebar__icon,
.sidebar__item:focus .sidebar__icon {
  color: #69cb2d;
  fill: #69cb2d;
  stroke: #69cb2d;
  background-color: #ffffff;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 64px;
  margin-left: 64px;
}

.profile__container {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 0.96;
}

.profile__edit-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 455px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.67;
  color: #bbc0cb;
  border: none;
  background: transparent;
  cursor: pointer;
}

.profile__edit-icon {
  margin-left: 12px;
  stroke: #bbc0cb;
  fill: #bbc0cb;
}

.profile__media {
  margin: 27px 0 42px 580px;
}

.profile__media-btn {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.25;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  background: transparent;
  border: none;
  cursor: pointer;
}

.profile__edit-pass-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 33px 735px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.67;
  color: #bbc0cb;
  border: none;
  background: transparent;
  cursor: pointer;
}

.profile__delete-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.67;
  color: #bbc0cb;
  border: none;
  background: transparent;
  cursor: pointer;
}

.profile__edit-btn:hover,
.profile__edit-btn:focus,
.profile__edit-pass-btn:hover,
.profile__edit-pass-btn:focus,
.profile__delete-btn:hover,
.profile__delete-btn:focus,
.profile__edit-btn:hover .profile__edit-icon,
.profile__edit-btn:focus .profile__edit-icon,
.profile__delete-btn:hover .profile__edit-icon,
.profile__delete-btn:focus .profile__edit-icon,
.profile__edit-pass-btn:hover .profile__edit-icon,
.profile__edit-pass-btn:focus .profile__edit-icon {
  color: #69cb2d;
  stroke: #69cb2d;
  fill: transparent;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 39px;
}

.form label {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
}

.form__input {
  width: 634px;
  height: 55px;
  margin-top: 19px;
  padding-left: 22px;
  font-family: Bowlby One, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.25;
  background: #f3f3f3;
  border-radius: 5px;
  border: none;
}

.form__input.web {
  width: 919px;
  height: 55px;
  margin-top: 19px;
  padding-left: 22px;
  font-family: Bowlby One, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.25;
  background: transparent;
  border: 3px solid #f3f3f3;
  border-radius: 5px;
}

.form__input:not(:last-child) {
  margin-bottom: 33px;
}

.form__input::-webkit-input-placeholder {
  font-family: Bowlby One, sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 1.25;
  color: #1c1d1e;
}

.form__input::-moz-placeholder {
  font-family: Bowlby One, sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 1.25;
  color: #1c1d1e;
}

.form__input:-ms-input-placeholder {
  font-family: Bowlby One, sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 1.25;
  color: #1c1d1e;
}

.form__input::-ms-input-placeholder {
  font-family: Bowlby One, sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 1.25;
  color: #1c1d1e;
}

.form__input::placeholder {
  font-family: Bowlby One, sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 1.25;
  color: #1c1d1e;
}

.profile__avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 50px;
  margin-bottom: 150px;
}

.profile__image {
  width: 210px;
  height: 210px;
  border-radius: 50%;
  margin-bottom: 29px;
}

.profile__avatar button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.67;
  color: #bbc0cb;
  border: none;
  background: transparent;
  cursor: pointer;
}

.profile__avatar button:hover,
.profile__avatar button:focus,
.profile__avatar button:hover .profile__edit-icon,
.profile__avatar button:focus .profile__edit-icon {
  color: #69cb2d;
  stroke: #69cb2d;
  fill: transparent;
}

.fatcat {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.fatcat__text {
  opacity: 0;
  width: 150px;
}
.fatcat:hover .fatcat__text {
  opacity: 1;
}

.fatcat__img {
  width: 180px;
}/*# sourceMappingURL=main.css.map */