// Стили для хеддера
.header {
  padding: 15px 153px 15px 191px;
  border-bottom: 1px solid #000;
}

.nav-container {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
}

.logo {
  font-family: $primary-font;
  font-weight: 800;
  font-size: 34px;
  line-height: 0.75;
  cursor: pointer;
}

.logo__accent {
  color: #69cb2d;
}

.nav-container {
  display: flex;
  justify-content: space-between;
}

.nav__list {
  display: inline-flex;
  margin-left: 146px;
}

.nav__item:not(:last-child) {
  margin-right: 40px;
}

.nav__link {
  font-family: $primary-font;
  font-weight: 600;
  font-size: 20px;
  line-height: 0.96;
  color: #1c1d1e;
  cursor: pointer;
}

.nav__link:hover {
  color: $accent-color;
}

.help {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 107px;
}

.help__btn:hover {
  color: $accent-color;
}

.help__icon {
  stroke: $accent-color;
  margin-right: 14px;
}

.help__btn {
  font-family: $primary-font;
  font-weight: 600;
  font-size: 20px;
  line-height: 0.96;
  color: #1c1d1e;
}

.user {
  margin-left: 83px;
}

.user__img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 6px solid transparent;
}

.user__img:hover {
  border-color: #69cb2d;
}
