@font-face {
  font-family: "Bowlby One";
  src: url("/fonts/BowlbyOne-400.ttf") format("ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-600.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-700.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-800.woff") format("woff");
  font-weight: 800;
}
