// Константы для стилей
$primary-text-color: #1C1D1E;
$sidebar-text-color: #FFFFFF;
$accent-color: #69CB2D;
$background-color: #FFFFFF;
$backdrop-color: rgba(0, 0, 0, 0.2);
$primary-font: Roboto, sans-serif;
$secondary-font: Raleway, sans-serif;